./vscode/.vscode/
./.gradle/
./.idea/
./.settings/
./bin/
./gradle/
./build/
./out/
./.classpath/
./.project/
./out

.gradle
.out
.bin
.settings/
.vscode/

bin/
out/
/src/test/

#private
/src/main/java/algorithm/toss/
/src/main/java/algorithm/tmon/
/src/main/java/algorithm/popcard/
/src/main/java/algorithm/linefinancial/
.classpath
